* {
  padding: 0px;
  margin: 0px;
  font-family: calibri;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 100px 20px 100px;
  color: #1a1a29;
}
.header {
  display: flex;
  align-items: center;
  align-content: left;
}
.name {
  font-size: 32px;
  width: 20%;
}
.social, .twitter, .linkedin, .instagram {
  padding: 5px 10px 5px 0px;
}
.social {
  width: 30%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
ul {
  list-style-type: none;
  margin-left: 13em;
}
li {
  float: left;
  padding: 0px;
}
li a {
  display: block;
  color: #1a1a29;
  text-align: center;
  padding: 10px 20px;
  text-underline-position: below;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
}
li a:hover:not(.active) {
  text-decoration: underline;
  color: #1a1a29;
}
#about{
  display: flex;
  flex-direction: column;
  margin: 100px 0px 20px 0px;
}
.intro{
  display: flex;
  width: 100%;
  height: 500px;
  padding: 30px;
  background-color: #ffffff;
}
.intro_{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.hello{
  font-size: 22px;
  padding: 100px 0px 10px 0px;
  font-weight: bold;
}
.name_{
  padding: 0px 0px 20px 0px;
  font-size: 48px;
}
.skill{
  text-align: justify;
  padding: 0px 0px 20px 0px;
  font-size: 18px;
  width: 100%;
  line-height: 30px;
}
.image{
  display: flex;
  width: 50%;
  justify-content: end;
}
.profilepicture{
  display: flex;
  border-radius: 10px;
}
.skill_{
  display: flex;
  width: 100%;
  margin: 150px 20px 20px 20px;
  justify-content: center;
}
.behance{
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  background-color: #16327e;
  border-radius: 5px;
  border: 0px solid;
  font-weight: bold;
}
.behance a:hover:not(.active) {
  text-decoration: none;
}
.github{
  padding: 10px 23px 10px 23px;
  font-size: 18px;
  background-color: #16327e;
  color: #ffffff;
  border-radius: 5px;
  border: 0px solid;
  margin: 0px 0px 0px 50px;
  font-weight: bold;
}
.github a:hover:not(.active) {
  text-decoration: underline;
  color: cyan;
}
.frontend{
  padding: 10px;
  background-color: #1a1a29;
  margin: 0px 40px 0px 0px;
  color: #ffffff;;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
}
.frontenddev{
  display: flex;
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  padding:80px 0px 0px 0px;
}
.frontend a:hover:not(.active) {
  text-decoration: underline;
  color: cyan;
}
.tool{
  display: flex;
  text-align: center;
  color: #ffffff;
  padding:20px 20px 30px 20px;
  font-size: 20px;
}.ui_ux{
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 40px;
  background-color: #1a1a29;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
}
.ui_ux_{
  display: flex;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  padding:80px 0px 0px 0px;
}
.ui_ux a:hover:not(.active) {
  text-decoration: underline;
  color: cyan;
}
#project{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
h2{
  font-size: 32px;
  margin-top: 50px;
}
h4{
  font-size: 20px;
  margin-top: 30px;
}
.projects{
  display: flex;
  margin-top: 50px;
  background-color: #9e9e9e ;
  width: 100%;
  padding: 20px;
}
.oaktree{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 20px 20px 0px;
}
.subtext{
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}
.saas{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  padding: 0px 0px 20px 20px;
}

